body{
 background-color:lightseagreen;
 font-family: Helvetica, Ariel, san-serif;
 margin-top:10px;
 margin-bottom:10px;
 margin-left:30px;
 margin-right:30px;
}

 h1{
 font-family: "times new roman" times, serif;
 text-allign: right;
 color: Blue;
 }
